@font-face {
	font-family: Hero;
	font-display: swap;
	src: url("../fonts/Hero-Light.woff2") format("woff2"), url("../fonts/Hero-Light.woff") format("woff");
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: Hero;
	font-display: swap;
	src: url("../fonts/Hero-Bold.woff2") format("woff2"), url("../fonts/Hero-Bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: Hero;
	font-display: swap;
	src: url("../fonts/Hero-Regular.woff2") format("woff2"), url("../fonts/Hero-Regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: Comfortaa;
	font-display: swap;
	src: url("../fonts/Comfortaa-Light.woff2") format("woff2"), url("../fonts/Comfortaa-Light.woff") format("woff");
	font-weight: 300;
	font-style: normal;
}
