.services {
  &__title {
    display: flex;
    align-items: center;
    color: $color_red;
    &::after {
      content: '';
      height: 2px;
      flex-grow: 1;
      background-color: #e4e4e4;
      margin-left: 25px;
    }
  }
  &__wrapper {
    position: relative;
  }
  &__slider {
    padding: 0 5px;
  }
  &__slide {
    padding: 30px 0 45px;
    width: fit-content;
  }
  &__slide-inner {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 335px;
    min-height: 335px;
    position: relative;
    padding: 25px 30px;
    border-radius: 30px;
    background-color: $color_light;
    text-transform: uppercase;
    box-shadow: 0px 4px 9px rgb(0 0 0 / 8%);
    &::before,
    &::after {
      content: '';
      left: 0;
      width: 100%;
      position: absolute;
    }
    &::before {
      height: 65px;
      bottom: calc(100% - 31.5px);
      filter: drop-shadow(-3px -4px 4px rgba(0 0 0 / 2%));
      background: url('../img/polygon-06.svg') center/contain no-repeat;
    }
    &::after {
      bottom: 0;
      height: 55px;
      margin-bottom: -25px;
      background: transparent;
      border-bottom-left-radius: 35px;
      border-bottom-right-radius: 35px;
    }
  }
  &__slide-content {
    display: flex;
    margin-top: 15px;
    text-align: center;
    position: relative;
    flex-direction: column;
    height: calc(100% - 72px);
  }
  &__slide-title {
    line-height: 1.2;
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 10px;
    span {
      display: block;
      font-size: 20px;
      font-weight: 400;
    }
  }
  &__slide-list {
    flex-grow: 1;
    display: flex;
    margin-top: 15px;
    margin-bottom: 15px;
    flex-direction: column;
    justify-content: center;
  }
  &__slide-price {
    display: flex;
    margin-bottom: 5px;
    padding-bottom: 5px;
    flex-direction: column;
    border-bottom: 1px solid #c3c3c3;
    &:last-child {
      margin-bottom: 0;
      padding-bottom: 0;
      border-bottom: none;
    }
  }
  &__slide-cost {
    color: $color_red;
    font-weight: 600;
    font-size: 38px;
    span {
      color: #707070;
      font-weight: 400;
      font-size: 22px;
    }
  }
  &__slide-button {
    color: $color_light;
    font-weight: 600;
    font-size: 18px;
    line-height: 1.6;
    position: relative;
    padding: 5px 10px;
    text-align: center;
    transition: 0.25s ease;
    margin-top: auto;
    display: block;
    background-color: $color_red;
    &:hover {
      filter: drop-shadow(0 4px 12px rgba(0, 0, 0, 0.25));
    }
  }
  &__slide-link {
    width: 80px;
    margin: 0 auto;
    display: block;
    font-size: 14px;
    color: #b4b4b4;
    text-transform: lowercase;
    transition: 0.3s ease-out;
    &:hover {
      color: $color_dark;
    }
  }
  .swiper-button-prev,
  .swiper-button-next {
    top: 50%;
    width: 52px;
    height: 52px;
    line-height: 1;
    color: #9e9e9e;
    font-size: 40px;
    border-radius: 9px;
    position: absolute;
    display: inline-flex;
    align-items: baseline;
    justify-content: center;
    border: 4px solid #efefef;
    transform: translateY(-50%);
    transition: 0.3s ease;
    &::after,
    &::before {
      display: none;
    }
    &.swiper-button-disabled {
      opacity: 0;
    }
    &:hover {
      border-color: rgba($color_dark, 0.7);
      color: $color_dark;
    }
  }
  .swiper-button-next {
    right: 0;
    margin-right: -70px;
  }
  .swiper-button-prev {
    left: 0;
    margin-left: -70px;
  }
}

@media (max-width: 1200px) {
  .services {
    &__title {
      text-align: center;
      justify-content: center;
      &::after {
        display: none;
      }
    }
    &__slide-title {
      font-size: 24px;
    }
  }
}

@media (max-width: 600px) {
  .services__slide-title {
    font-size: 22px;
  }
  .services__slide-inner {
    width: 340px;
  }
}
