.sider {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 300;
  width: 310px;
  transform: translateX(-101%);
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  background-color: $color_light;
  box-shadow: 9px 11px 20px 0 rgb(0 0 0 / 16%);
  transition: 0.3s ease-out;
  &.visible {
    transform: unset;
  }
  &__close {
    top: 15px;
    right: 15px;
    cursor: pointer;
    position: absolute;
    width: 32px;
    height: 32px;
    display: block;
  }
  &__wrapper {
    flex-grow: 1;
  }
  &__logo {
    display: flex;
    height: 25vmin;
    min-height: 175px;
    align-items: center;
    justify-content: center;
    border-bottom-left-radius: 95% 40%;
    background-color: $color_gray;
  }
  &__nav {
    a {
      display: block;
      font-size: 1em;
      line-height: 1.2;
      font-weight: 600;
      padding: 15px 20px;
      text-transform: uppercase;
      transition: color 0.25s ease;
      border-bottom: 4px solid $color_gray;
      &:hover {
        color: $color_red;
      }
    }
  }
  &__button {
    width: 265px;
    display: block;
    line-height: 1.2;
    margin: 20px auto;
    font-size: 0.9em;
    font-weight: 600;
    padding: 20px 0px;
    text-align: center;
    position: relative;
    text-transform: uppercase;
    color: $color_light;
    background-repeat: no-repeat;
    transition: all 0.25s ease 0s;
    background: url('../img/btn.svg') center/contain no-repeat;
    &:hover {
      filter: drop-shadow(0 4px 12px rgba(0, 0, 0, 0.25));
    }
  }
  &__list {
    display: flex;
    color: $color_dark;
    font-size: 1em;
    padding: 15px 10px;
    align-items: center;
    justify-content: center;
    background-color: $color_gray;
    border-bottom: 3px solid #707070;
    a:not(.icon__social) {
      margin-right: 15px;
      transition: 0.3s ease-out;
      &:hover {
        color: $color_red;
        transform: scaleY(1.1);
      }
    }
    a.icon__social {
      width: 25px;
      height: 25px;
      margin-right: 10px;
      transition: 0.3s ease-out;
      &:hover {
        transform: scale(1.1);
      }
      &:last-child {
        margin-right: 0;
      }
    }
  }
}

@media (max-width: 600px) {
  .sider {
    width: 275px;
  }
}
